{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block content %}

    <h1>Documentación</h1>
    <p class="lead">
        Esta aplicación esta basada en el <a href="https://github.com/mo2o/backend-exercise" target="_blank">Ejercicio de entrevista técnica</a>.
    </p>
    <p class="lead">
        Asi que, para generar los dos endpoints, he creado dos enlaces en el menú para poder acceder a ellos facilmente y comprender su uso.
    </p>

    <ul>

        <li>
            <h2>Buscar recetas</h2>
            <p class="lead">
                En este enlace, disponemos de un buscador en el cual podemos introducir la receta sobre la que queramos conocer
                y nos devuelve los resultados junto a una serie de valores, los cuales son:
            </p>
            <ol>
                <li>Título de la receta.</li>
                <li>Enlace a la receta completa.</li>
                <li>Ingredientes</li>
                <li>Imagen de la receta (si es que dispone de ella)</li>
            </ol>
        </li>

        <li>
            <h2>Listar recetas</h2>
            <p class="lead">
                En este enlace, nos aparecerán una serie de recetas y las mostramos en modo de tarjetas.
                Si pinchas sobre ellas, nos llevan a la receta completa para que así podamos seguir todos los pasos.
            </p>
        </li>
    </ul>

    <h1>Endpoints</h1>

    <ul>

        <li>
            <h2><a href="{{ path('buscadorRecetasAPI') }}" target="_blank">/api/buscador/recetas</a></h2>
            <p class="lead">
                Para este endpoint existen diferentes parámetros que podemos utilizar. La respuesta está dada en formato JSON
                y para ver un ejemplo, podemos acceder al enlace <a href="{{ path('buscadorRecetas') }}">Buscar recetas</a>.
            </p>
            <ol>
                <li>q: Cadena de texto para la búsqueda (obligatorio)</li>
                <li>p: Número de página. (opcional)</li>
            </ol>
        </li>

        <li>
            <h2><a href="{{ path('listadoRecetasAPI') }}" target="_blank">/api/listado/recetas</a></h2>
            <p class="lead">
                Para este endpoint existen diferentes parámetros que podemos utilizar. La respuesta está dada en formato JSON
                y para ver un ejemplo de uso, podemos acceder al enlace <a href="{{ path('listadoRecetas') }}">Listado de recetas</a>.
            </p>
            <ol>
                <li>p: Número de página. (opcional)</li>
            </ol>
        </li>
    </ul>

{% endblock %}
